@font-face {
    font-family: "icons";
    src: url(../../fonts/typicons.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100vw;
    min-height: 100vh;

    font-family: icons, "Secular One", sans-serif;

    background: linear-gradient(90deg, #00b4db, #0083b0);
}
